.cart-confirm {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $color-grey-dark-2;
  max-width: 60rem;
  margin: 5rem auto;

  &__header {
    margin: 2rem 0;
  }

  &__btn-block {
    display: flex;
    justify-content: space-between;

  }
}