.router-transition__csstransition-enter {
  opacity: 0.01;
}

.router-transition__csstransition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.router-transition__csstransition-exit {
  opacity: 1;
}

.router-transition__csstransition-exit.router-transition__csstransition-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.router-transition {
  position: relative;

  &__section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}
