.items-cart {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba($color-black, .4);
  color: $color-secondary-dark;
  background-color: $color-white;
  cursor: pointer;
  z-index: 10000;

  &__cart {
    @include absCenter;
  }

  &__quantity {
    font-size: 2.5rem;
    font-weight: 900;
    color: $color-white;
    position: absolute;
    right: 2.6rem;
    top: 1rem;

  }
}

.items-cart-enter {
  opacity: 0;
}

.items-cart-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.items-cart-exit {
  opacity: 1;
}

.items-cart-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

// @media (min-width: 37.5em) {
  //   .items-cart {
  //     // display: none;
  //   }
  // }