.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;



  &__container {
    max-width: 60rem;
    margin: auto;
  }


  &__shop-img {
    height: 25rem;
    margin-top: 10rem;
  }

  &__list {
    padding: 2rem;
    display: flex;
    border-bottom: 1px solid $color-grey-dark-2;
    align-items: center;
  }

  &__img {
    height: 15rem;
  }

  &__info {
    width: 100%;
  }

  &__btn-block {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;

  }

  &__quantity {
    margin: 0 2rem;
  }

  &__trash {
    color: $color-secondary-dark;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      translate: transform .3s;
    }

    &:active {
      transform: scale(1);
      translate: transform .3s;
    }

  }
}

.cart__transition-enter {
  opacity: 0;

}

.cart__transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.cart__transition-exit {
  opacity: 1;

}

.cart__transition-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}