.popup-add-item {
  background-color: $color-secondary-dark;
  opacity: 0.9;
  color: white;
  padding: 1.5rem;
  max-width: 30rem;
  position: fixed;
  bottom: 12rem;
  right: 2rem;
  border-radius: 2rem;
  z-index: 5000;

  &--pizza {
    bottom: 16rem;
  }

}

.popup-enter {
  opacity: 0;
}

.popup-enter-active {
  opacity: .9;
  transition: opacity 300ms;
}

.popup-exit {
  opacity: .9;
}

.popup-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}