.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  min-height: 50rem;
  width: 90%;
  background-color: $color-white;

  @media (min-width: 37.5em) {
    width: 60%;
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    color: $color-secondary-dark;
  }

  &__info {
    position: fixed;
    left: 1rem;
    top: 3rem;
    cursor: pointer;
    color: $color-secondary-dark;

    &--show {
      position: absolute;
      top: 6rem;
      left: -0.5rem;
      height: 20rem;
      width: 20rem;
      background-color: $color-grey-dark-3;
      color: $color-white;
      border-radius: 1rem;
      text-align: left;
      font-size: 3rem;
      padding: 1rem;
      opacity: .9;
    }

    &--show-enter {
      opacity: 0;
    }

    &--show-enter-active {
      opacity: 1;
      transition: opacity 300ms;
    }

    &--show-exit {
      opacity: 1;
    }

    &--show-exit-active {
      opacity: 0;
      transition: opacity 300ms;
    }

  }

  &__name {
    margin: 2rem 0;
  }

  &__image {
    height: 20rem;
    width: 20rem;
  }

  &__ingredients {
    margin: 2rem auto;
    font-size: 2rem;
    width: 80%;
  }

  &__price {
    text-align: left;
  }

  &__btn-block {
    position: relative;
    width: 80%;
    margin: 1rem auto 1rem auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
}

.modal-enter {
  width: 0;
  opacity: 0;

}

.modal-enter-active {
  width: 90%;
  opacity: 1;
  transition: opacity 300ms, width 300ms;

  @media (min-width: 37.5em) {
    width: 60%;
  }

}

.modal-exit {
  width: 90%;
  opacity: 1;

  @media (min-width: 37.5em) {
    width: 60%;
  }
}

.modal-exit-active {
  width: 0;
  opacity: 0;
  transition: opacity 300ms, width 300ms;
}