.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
  opacity: 0.9;
  z-index: 40;
  transition: top 0.3s;

  &--hiden {
    top: -100vh;
  }
}


.side-drawer-enter {
  width: 0;
  opacity: 0;
}

.side-drawer-enter-active {
  width: 100%;
  opacity: 1;
  transition: opacity 300ms, width 300ms;
}

.side-drawer-exit {
  width: 100%;
  opacity: 1;
}

.side-drawer-exit-active {
  width: 0;
  opacity: 0;
  transition: opacity 300ms, width 300ms;
}